<p-toast />
<div class="flex flex-row justify-around m-5">
  <p>Client: Someone</p>
  <p>User: Someone</p>
  <p>{{ listingId() }}</p>
</div>

<p-menubar
  [model]="menubarItems"
  [pt]="{
    root: 'bg-(--p-surface-700)! border-0! rounded! mx-4!'
  }"
>
  <ng-template #end>
    <p-popover #op>
      <ng-template #content>
        <button
          type="button"
          class="text-md p-3 rounded-lg transition-all duration-300 hover:bg-white/20 hover:backdrop-blur-md hover:shadow-lg cursor-pointer"
          (click)="onAddNote()"
          data-testid="add-note-action"
        >
          Add note
        </button>
      </ng-template>
    </p-popover>
    <button pButton type="button" (click)="op.toggle($event)" data-testid="add-note-menu-button">
      <span class="pi pi-plus"></span>
    </button>
  </ng-template>
</p-menubar>
<p-dialog [(visible)]="showingDialog" header="Add a note" [resizable]="false">
  @if(fg) {
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <div class="flex flex-col justify-center gap-4 mb-4">
      <label>Note</label>
      <textarea
        formControlName="note"
        pTextarea
        rows="5"
        cols="50"
        [autoResize]="true"
        data-testid="note-textarea"
      ></textarea>
    </div>
    <div class="flex justify-center gap-3">
      <button type="submit" pButton label="Save" data-testid="note-save-button"></button>
      <button
        type="button"
        pButton
        label="Cancel"
        (click)="onCancel()"
        severity="danger"
        data-testid="note-cancel-button"
      ></button>
    </div>
  </form>
  }
</p-dialog>

<router-outlet></router-outlet>
